{
    "env": {
        "browser":  true,
        "node":     true,
        "es6":      true,
        "commonjs": true
    },
    "globals": {
        "ga":           true,
        "_":            true,
        "API_ENDPOINT": true
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx":     true
    },
    "rules": {
        "quotes":            [1, "double", "avoid-escape"],
        "indent":            [1, "tab", { "SwitchCase": 1 }],
        "comma-dangle":      [2, "never"],
        "func-names":        0,
        "no-param-reassign": 0,
        "new-cap":           [2, { "capIsNew": false }],
        "no-const-assign":   2
    }
}
